a.out
bendingangle.dat
bendingangleB.dat
bendingangles.png
bendingangles_fixedends.png
bendingline.dat
bendinglineB.dat
bendinglines.png
bendinglines_fixedends.png
blabla
data.dat
gp.txt
a.out.dSYM/Contents/Info.plist
a.out.dSYM/Contents/Resources/DWARF/a.out
